.Controls {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.Controls__round {
    height: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1em;
}

.Controls-button {
    font-size: inherit;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.Controls-button:hover {
    border-color: rgba(0, 0, 0, .3);
}

.Controls-button:active {
    background-color: #ffec9b;
}

.Controls__easy {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.Controls__checkbox {
    margin-right: 1em;
}

@media screen and (max-width: 400px), (max-height: 400px) {
    .Controls__checkbox {
        width: 1.5em;
        height: 1.5em;
    }
}

@media screen and (max-height: 400px) {
    .Controls__round {
        flex-wrap: wrap;
    }
}
