.Tile {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightgrey;
    display: inline-block;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

.Tile_opened {
    opacity: 1;
}
