.Tile {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    display: inline-block;
    color: transparent;
    font-size: 2em;
    line-height: 100px;
    cursor: pointer;
    transition: .2s;
}

.Tile_opened {
    background-color: orange;
    color: black;
}
