.Tile {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightgrey;
    display: inline-block;
    /*cursor: pointer;*/
    opacity: .5;
    transition: .2s;
    font-size: 4rem;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    border: none;
    outline: none;
}

.Tile:focus {
    box-shadow: 0 0 4px 2px black;
}

.Tile_opened {
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .Tile {
        --between: 1px;
        width: calc(25vw - var(--between) * 2);
        height: calc(25vw - var(--between) * 2);
        margin: var(--between);
        line-height: 25vw;
    }

    .Tile:focus {
        box-shadow: none;
    }
}
